body {
    background-color: darkcyan;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px darkslategray;
}

.note {
    font-size: 15px;
    color: black;
}

.copy_right_footer {
    position: fixed;
    color: azure;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    line-height: 3;
    text-align: center;
    font-size: 18px;
}

canvas {
    border: 5px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkslategray;
}